.container {
  width: 600px;
  height: 150px;
  border: 5px solid #333;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: flex-start;
  /* align-content: center; */
}

.container div {
  /* width: 120px;
  height: 120px; */
  background-color: rgb(150, 150, 232);
  margin: 2px;
  flex: 1;
}
/* 
.satu {
  order: 3;
}
.dua {
  order: 4;
}
.tiga {
  order: 2;
}
.empat {
  order: 1;
} */

.container div.dua {
  flex: 1;
  align-self: flex-end;
}
